.Titulo {
  justify-content: center;

  display: flex;
  margin: 20px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#f03355 95%,#0000) 50% 1px/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 14px),#ccc 0);
  animation: l9 2s infinite linear;
}
@keyframes l9 {to{transform: rotate(1turn)}}

.center{
  justify-content: center;
}
.historial-table {
  width: 100%;
  border-collapse: collapse;
  max-width: 800px;
}

.historial-table th,
.historial-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.historial-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.historial-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.historial-table tr:hover {
  background-color: #ddd;
}

.historial-table th,
.historial-table td {
  font-size: 14px;
}

.historial-table caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.historial-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.historial-table th,
.historial-table td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}